<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whlg.hospital.mapper.ConfigMapper">

    <select id="selectByConfigKey" resultType="com.whlg.hospital.entity.Config">
        SELECT id, config_key AS configKey, config_value AS configValue, description, update_time AS updateTime
        FROM t_config
        WHERE config_key = #{configKey}
    </select>

</mapper>